*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: #c6e4ee;
}
.containers{
  height: 70vh;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-width: 400px;
  height: 400px;
  border:1px solid black;
  border-radius: 10px;
  background: linear-gradient(#c6e4ee 0%, #c6e4ee 40%, #fed1ae 60%, #faa0b9 70%, #cb7dcb 80%, #757ecb 100%);
}


